<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Another Mother Runner Store</title>
<link href="css/style.css" rel="stylesheet" />
</head>

<body>
	<!--Start HEADER-->
	<div id="header">
    	<div class="container">
    		<div class="seven columns margin-adjust"><img src="images/header-logo.jpg" alt="" /></div>
       	 	<div class="nine columns clearfix">
        		<div class="one columns"><a href="#"><img src="images/account-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">my account</a></p>
            	<div class="one columns"><a href="#"><img src="images/wishlist-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">my wishlist</a></p>
            	<div class="one columns"><a href="#"><img src="images/cart-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">my cart</a></p>
            	<div class="one columns"><a href="#"><img src="images/checkout-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">checkout</a></p>
            	<div class="one columns"><a href="#"><img src="images/login-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">login</a></p>
       	 	</div>
        
        <div class="one-wide colspan margin-logo clearfix"><img src="images/another-mother-runner-store.png" alt="" /></div>
        </div>
    </div>
    <!--End HEADER-->
    
    <!--Start NAVIGATION-->
    <div id="navigation">
    	<div class="container">
        	<div class="sixteen columns">
        		<ul>
            		<li class="nav"><a href="#">lifestyles tees</a></li>
                    <li class="nav"><a href="#">running tops</a></li>
                    <li class="nav"><a href="#">accessories</a></li>
                    <li class="nav"><a href="#">jewelry</a></li>
                    <li class="nav"><a href="#">sale</a></li>
                    <li class="nav"><a href="#">products we love</a></li>
                    <li class="nav"><a href="#" class="no-border">about us</a></li>
            	</ul>
        	</div>
        </div>
    </div>
    <!--End NAVIGATION-->
    
    <!--Start BANNER-->
    <div id="main-content">
    	<div class="container padding-adjust">
    		<div class="eight columnars yellow-adj">
            	<img src="images/banner/new-product.png" alt="" />
            	<div class="yellow">
            		<p>New Product</p>
                    <p><a href="#">Product Name</a></p>
            	</div>
            </div>
            
        	<div class="four columnar green-adj">
            	<img src="images/banner/products-we-love.png" alt="" />
                <div class="green">
                	<p>Products We Love</p>
                    <p><a href="#">Product Name</a></p>
                </div>
           	</div>
            
        	<div class="four columnar blue-adj">
            	<img src="images/banner/another-mother-runner-site.png" alt="" />
                <div class="blue">
                	<p><a href="#">Another Mother Runner site</a></p>
                </div>
            </div>
            
            <div class="eight columns"><a href="#"><img src="images/banner/shopping-in-person.png" alt="" /></a></div>
            <div class="eight columnar"><a href="#"><img src="images/banner/buy-the-books.png" alt="" /></a></div>
            
            <!--End BANNER-->
            
            <!--Start CONTENT-->
            <div class="sixteen columns center clearfix"><img src="images/product-categories.png" alt="" /></div>
    		
            <div class="one-third column orange-adj">
            	<img src="images/products/lifestyles-tees.jpg" alt="" />
                <div class="orange">
                	<p><a href="#">lifestyle tees</a></p>
                </div>
            </div>
            
            <div class="one-third column yel-green-adj">
            	<img src="images/products/running-tops.jpg" alt="" />
                <div class="yel-green">
                	<p><a href="#">running tees</a></p>
                </div>
            </div>
            
            <div class="one-third column pink-adj">
            	<img src="images/products/accessories.jpg" alt="" />
                <div class="pink">
                	<p><a href="#">accessories</a></p>
                </div>
            </div>
            
            <div class="one-third column margin-top-adjust yel-trans-adj">
            	<img src="images/products/jewelry.jpg" alt="" />
                <div class="yel-trans">
                	<p><a href="#">jewelry</a></p>
                </div>
            </div>
            
            <div class="one-third column margin-top-adjust blue-trans-adj">
            	<img src="images/products/gift-packs.jpg" alt="" />
                <div class="blue-trans">
                	<p><a href="#">gift packs</a></p>
                </div>
            </div>
            
            <div class="one-third column margin-top-adjust red-trans-adj">
            	<img src="images/products/products-we-love.jpg" alt="" />
                <div class="red-trans">
                	<p><a href="#">products we love</a></p>
                </div>
            </div>
            
    	</div>
    </div>
    <!--End CONTENT-->
    
    <!--Start FOOTER-->
    <div id="footer">
    	<div class="container">
        	<div class="one-third column">
            <h1 class="about">about us</h1>
            <div class="border-bottom"></div>
            <p>Another Mother Runner (AMR) was founded by us, Dimity McDowell and Sarah Bowen Shea, after the 2010 release of our first book, *Run Like a Mother: How to Get Moving and Not Lose Your Family, Job, or Sanity*. Written in a witty, conversational tone—like how girlfriends talk to each other on a run—this vivid yellow paperback covers everything from race-day periods to pregnancy, hills to husbands.</p>
            <p><a href="#">&gt;&gt; Learn More</a></p>
            </div>
            
            <div class="one-third column">
            <h1 class="shop">shop by</h1>
            <div class="border-bottom"></div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            <div class="clear"></div>
            
            <h1 class="shopping">shopping info</h1>
            <div class="border-bottom"></div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            
            </div>
            
            <div class="one-third column">
            <h1 class="newsletter">newsletter signup</h1>
            <div class="border-bottom"></div>
            	<input type="email" value="your email address" class="email" required="">
                <input type="submit" value="" name="subscribe" class="btn">
                
                <h1 class="follow">follow us</h1>
            	<div class="border-bottom"></div>
                <div class="social"><img src="images/facebook.png" alt="" /></div><p class="footer-text"><a href="#">like us on facebook</a>
                <div class="social"><img src="images/twitter.png" alt="" /></div><p class="footer-text"><a href="#">like us on twitter</a>
            </div>
            
            
            
        </div>
        
        <div class="footer-copyright">
        	<div class="container">
            	<div class="one-wide colspan margin-logo clearfix"><p>copyright &copy; 2013 <a href="#">mother runner store</a>. all rights reserved.</p></div>
            </div>
        </div>
    </div>    
    <!--End FOOTER-->
    
    
    
</body>
</html>
