<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Another Mother Runner Store</title>
<link href="css/style.css" rel="stylesheet" />
</head>

<body>
	<!--Start HEADER-->
	<div id="header">
    	<div class="container">
    		<div class="seven columns margin-adjust"><img src="images/header-logo.jpg" alt="" /></div>
       	 	<div class="nine columns clearfix">
        		<div class="one columns"><a href="#"><img src="images/account-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">my account</a></p>
            	<div class="one columns"><a href="#"><img src="images/wishlist-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">my wishlist</a></p>
            	<div class="one columns"><a href="#"><img src="images/cart-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">my cart</a></p>
            	<div class="one columns"><a href="#"><img src="images/checkout-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">checkout</a></p>
            	<div class="one columns"><a href="#"><img src="images/login-icon.jpg" alt="" /></a></div><p class="header-text"><a href="#">login</a></p>
       	 	</div>
        
        <div class="one-wide colspan margin-logo clearfix"><img src="images/another-mother-runner-store.png" alt="" /></div>
        </div>
    </div>
    <!--End HEADER-->
    
    <!--Start NAVIGATION-->
    <div id="navigation">
    	<div class="container">
        	<div class="sixteen columns">
        		<ul>
            		<li class="nav"><a href="#">lifestyles tees</a></li>
                    <li class="nav"><a href="#">running tops</a></li>
                    <li class="nav"><a href="#">accessories</a></li>
                    <li class="nav"><a href="#">jewelry</a></li>
                    <li class="nav"><a href="#">sale</a></li>
                    <li class="nav"><a href="#">products we love</a></li>
                    <li class="nav"><a href="#" class="no-border">about us</a></li>
            	</ul>
        	</div>
        </div>
    </div>
    <!--End NAVIGATION-->
    
    <!--Start CONTENT-->
    <div id="main-content">
    	<div class="container padding-adjust">
    		<div class="eight columns center-adjust">
        		<img src="images/product-1.jpg" alt="" />
                
                <div class="one column columnar-left margin-top-adjust">
                	<img src="images/arrow-left.png" alt="" style="padding-top:40px;" />
                </div>
                <div class="two column margin-top-adjust">
                	<img src="images/thumb-1.jpg" alt="" />
                </div>
                <div class="two column margin-top-adjust">
                	<img src="images/thumb-2.jpg" alt="" />
                </div>
                <div class="two column margin-top-adjust">
                	<img src="images/thumb-3.jpg" alt="" />
                </div>
                <div class="one column columnar-noright margin-top-adjust">
                	<img src="images/arrow-right.png" alt=""  style="padding-top:40px;" />
                </div>
                
        	</div>
        
        	<div class="eight columns clearfix" style="position:relative;">
        		<h1>Introduction to the Tribe</h1>
                <div class="product-page-price">
                	<p>$25</p>
                </div>
                <div class="content-border"></div>
                <h3>Includes: Another Mother Runner lifestyle tee + Run Like a Mother</h3>
                <p>&nbsp;</p>
                <p>Share the tribe-vibe with the mother runner(s) in your life with this soft-and-sassy cotton-blend tee and a signed copy of Run Like a Mother, the book that got this whole party started. Both serve as a welcome reminder there are other moms out there, getting up and getting in the miles.</p>
                <p>&nbsp;</p>
                <p>We're in *love* with this tee's heathered dark aqua color with white lettering and hip brown shoes. In the logo, mom's shoe stands out in white. This tee is a different cut than our other Bella lifestyle tees: It hits at or slightly above the hips and is a junior, not women's, cut. We suggest you order a size larger than normal. This is how we've found the sizing runs: S = size 0-2, M = 4-6, L = 8-10, XL = 12.</p>
                <p>&nbsp;</p>
                <p>In witty, conversational essays and snippets of advice, Run Like a Mother covers everything from hills to husbands, mental toughness to pooping on race day. It'll make the reader laugh, nod along, and maybe even shed a few tears.</p>
                <p>&nbsp;</p>
                <p>If bought separately, these items would run you $37, but we offer this gift pack for $25--and it ships via Priority Mail.</p>
                <p>&nbsp;</p>
                <p>Another mother Meredith, who wears a 34C bra, is showing her AMR pride in a size Small.</p>
                <p>&nbsp;</p>
                <p>Crew neck. 50% cotton, 50% polyester.</p>
                <p>&nbsp;</p>
                <p>Junior cut and sizing. Runs small.</p>
                <p>&nbsp;</p>
                <div class="four columns columnar-right">
                	<p class="size-quan">Size:
                    <select class="drop">
                    	<option value="">Select Size</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        <option value="Extra Large">Extra Large</option>
                    </select> 
                    </p>
                </div>
                
                <div class="four columns columnar-right clearfix">
                	<p class="size-quan">Quantity:
                    <input type="quantity" value="1" class="quantity" required="">
                    </p>
                </div>
                <div class="clear"></div>
                <div class="content-border"></div>
                
                <div class="eight columns">
                	<div class="button-cont clearfix">
                		<div class="btn-class">
                    		<a href="#" class="wish-btn">add to wishlist</a>
                    	</div>
                    	<div class="btn-class-right">
                    		<a href="#" class="cart-btn">add to cart</a>
                    	</div>
                     </div>
                     <div class="button-cont">
                     		<img src="images/share-image.jpg" alt="" />
                     </div>
                </div>
        	</div>     
            
            <div class="sixteen columns">      
            	<h2>Products You May Be Interested In:</h2>
            	<div class="four columns columnar-noleft">
            		<div class="product-interest">
                    	<img src="images/product-you-may-interested-1.jpg" alt="" />
                        <div class="product-price">
                        	<p>$40</p>
                        </div>
                    </div>
                    <div class="product-interest-wht">
                		<p class="interest-text">Product Name goes here</p>
                	</div>
                    <div class="view-add-left">
                		<a href="#">View Product</a>
                	</div>
                    <div class="view-add-right">
                		<a href="#">Add to Cart</a>
                	</div>
            	</div>
                
                <div class="four columns columnar-noleft">
                	<div class="product-interest">
            			<img src="images/product-you-may-interested-2.jpg" alt="" />
                        <div class="product-sale"></div>
                        <div class="product-price">
                        	<p>$12</p>
                        </div>
                    </div>
                    <div class="product-interest-wht">
                		<p class="interest-text">Product Name goes here</p>
                	</div>
                    <div class="view-add-left">
                		<a href="#">View Product</a>
                	</div>
                    <div class="view-add-right">
                		<a href="#">Add to Cart</a>
                	</div>
            	</div>
                
                <div class="four columns columnar-noleft">
                	<div class="product-interest">
            			<img src="images/product-you-may-interested-3.jpg" alt="" />
                        <div class="product-price">
                        	<p>$75</p>
                        </div>
                    </div>
                    <div class="product-interest-wht">
                		<p class="interest-text">Product Name goes here</p>
                	</div>
                    <div class="view-add-left">
                		<a href="#">View Product</a>
                	</div>
                    <div class="view-add-right">
                		<a href="#">Add to Cart</a>
                	</div>
            	</div>
                
                <div class="four columns columnar-nomargin">
            		<div class="product-interest">
            			<img src="images/product-you-may-interested-4.jpg" alt="" />
                        <div class="product-price">
                        	<p>$38</p>
                        </div>
                    </div>
                    <div class="product-interest-wht">
                		<p class="interest-text">Product Name goes here</p>
                	</div>
                    <div class="view-add-left">
                		<a href="#">View Product</a>
                	</div>
                    <div class="view-add-right">
                		<a href="#">Add to Cart</a>
                	</div>
            	</div>
                
                
            
            </div>
        </div>
    </div>
    <!--End CONTENT-->
    
    <!--Start FOOTER-->
    <div id="footer">
    	<div class="container">
        	<div class="one-third column">
            <h1 class="about">about us</h1>
            <div class="border-bottom"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p><a href="#">&gt;&gt; Learn More</a></p>
            </div>
            
            <div class="one-third column">
            <h1 class="shop">shop by</h1>
            <div class="border-bottom"></div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            <div class="clear"></div>
            
            <h1 class="shopping">shopping info</h1>
            <div class="border-bottom"></div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            <div class="two columns">
            	<ul class="circle">
            		<li class="footer"><a href="#">lorem ipsum</a></li>
                	<li class="footer"><a href="#">dolor sit amet</a></li>
                	<li class="footer"><a href="#">consectetur</a></li>
            	</ul>
            </div>
            
            </div>
            
            <div class="one-third column">
            <h1 class="newsletter">newsletter signup</h1>
            <div class="border-bottom"></div>
            	<input type="email" value="your email address" class="email" required="">
                <input type="submit" value="" name="subscribe" class="btn">
                
                <h1 class="follow">follow us</h1>
            	<div class="border-bottom"></div>
                <div class="social"><img src="images/facebook.png" alt="" /></div><p class="footer-text"><a href="#">like us on facebook</a>
                <div class="social"><img src="images/twitter.png" alt="" /></div><p class="footer-text"><a href="#">like us on twitter</a>
            </div>
            
            
            
        </div>
        
        <div class="footer-copyright">
        	<div class="container">
            	<div class="one-wide colspan margin-logo clearfix"><p>copyright &copy; 2013 <a href="#">mother runner store</a>. all rights reserved.</p></div>
            </div>
        </div>
    </div>    
    <!--End FOOTER-->
    
    
    
</body>
</html>
